body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin: 0;
    padding: 25px;
    background-color: #666547;
}

main{
    border: 2px;
    padding: 1cm;
    background-color: #6fcb9f;
}

footer{
    margin: 0;
    background-color: #666547;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 5px;
}

h1{
    text-align: center;
    font-family: 'Coda Caption', sans-serif;
    font-weight: 800;
    font-size: calc(20vw / var(--word-total) );
    line-height: 1.0;
    letter-spacing: -0.03em;
    transform: perspective(300px) scaleY(1.5) rotateX(-40deg);
    transform-style: preserve-3d;
    --layer-depth: 0.32em;
    font-size: 75px;
}

button{
    padding: 5px;
    width: 120px;
    height: 60px;
    margin: 5px;
    border: 1;
    border-style: solid;
    border-color: #666547;
    background-color: #fb2e01;
    cursor: pointer;
    text-align: center;
    font-family: 'Star Wars', sans-serif;
}

button:hover{
    background-color: #ffe28a;
    color: white;
    transform: translateY(-5px);
}

button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.pad{
    padding: 5px;
}

/* use embeded code in index.html */
.future {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sw{
    font-family: 'Star Wars', sans-serif;
}

/* imports */
@import url('https://fonts.cdnfonts.com/css/star-wars');

@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800');
